<div style="padding-top: 10%;" class="container"><%= cookies[:party_id] %>
<%= form_tag(:action=> 'list_sort', :controller=>'song',:method=>'get') do %>

<%= number_field_tag('party_id')  %>

<%= submit_tag('enter the party')  %>

<% end %>
</div>
